{{>header}}
	<br>
	<div class="container">	
		<p>Haga uso de estas herramientas para inscribir cursos y editarlos:</p>
		<br>
		<button onclick="location.href='/inscripcionCursos'" class="btn btn-success">Inscripción de cursos</button>
		<button onclick="location.href='/cursos'" class="btn btn-success">Listado de cursos</button>
		<button onclick="location.href='/'" class="btn btn-secondary">Salir</button>
	</div>
{{>footer}}
