{{>header}}
	<br>
	<div class="container">
		<p>Haga uso de estas herramientas para conocer y matricular los cursos ofrecidos por el Tecnológico de Antioquia:</p>
		<br>		
		<button onclick="location.href='/matriculaCursos'" class="btn btn-success">Matricularse en un curso</button>
		<button onclick="location.href='/cursosDisponibles'" class="btn btn-success">Listado de cursos</button>
		<button onclick="location.href='/'" class="btn btn-secondary">Salir</button>
	</div>
{{>footer}}