{{>header}}
<br>
<div class="container">
	<div class="row">
    	<div class="col">
        	 <p>{{{matricularCurso nombre cedula correo telefono codigoCurso}}}</p>
    	</div>
    	<div class="col col-lg-2">
        	  <button onclick="location.href='/aspirante'" class="btn btn-secondary btn-sm">Regresar a Inicio</button> 
    	</div>
  	</div>	
</div>
<br>
{{>footer}}