{{>header}}
<div class="container">

{{{cambiarEstado id}}}

<br>
<br>
<button onclick="location.href='/cursos'" class="btn btn-secondary btn-sm">Regresar al listado de cursos</button>
</div>
{{>footer}}





