{{>header}}
<div class="container">
	{{{eliminarEstudiante idEstudiante idCurso}}}
	<br>
	<br>
	{{{listarEstudiantes idCurso}}}
	<br>
	<button onclick="location.href='/cursos'">Regresar a Cursos</button>
</div>
{{>footer}}