{{>header}}
<br>
	<div class="container">
		<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
		 	<button type="button" onclick="location.href='/administrador'" class="btn btn-success">Administrador</button>
		  	<button type="button" onclick="location.href='/aspirante'" class="btn btn-success">Aspirante</button>
		</div>
		<br> 
		<p>Por favor, escoja el rol que desea desempeñar.</p>
		<br>
		<img src="/images/online-education.png" alt="Online Education" class="rounded float-right" style="opacity: 0.5;">
	</div>
{{>footer}}